.dockerignore
.env
.git
.gitignore
.gitattributes
.vs
.vscode
.editorconfig
docker-compose*.yml
*.md
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/node_modules
**/appsettings.Development.json

