<configuration>
    <config>
        <add key="dependencyVersion" value="Highest" />
        <add key="globalPackagesFolder" value="packages" />
        <add key="repositoryPath" value="installed_packages" />
        <add key="signatureValidationMode" value="require" />
    </config>
</configuration>
