// COLORS
$color-primary-custom: #55c57a;
$color-primary-light-custom: #7ed56f;
$color-primary-dark-custom: #28b485;

$color-secondary-light-custom: #ffb900;
$color-secondary-dark-custom: #ff7730;

$color-tertiary-light-custom: #2998ff;
$color-tertiary-dark-custom: #5643fa;

$color-grey-light-1-custom: #f7f7f7;
$color-grey-light-2-custom: #eee;

$color-grey-dark-custom: #777;
$color-grey-dark-2-custom: #999;
$color-grey-dark-3-custom: #333;

$color-white-custom: #fff;
$color-black-custom: #000;
$color-blue-custom: #1a75ff;
// FONTS
$default-font-size: 1.6rem;

// Shadow
$box-shadow: darkgrey;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
