@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Nmro website public area</a>.</p>
    <div>IP @ViewData["ip"]</div>
    <h4>Discovering elements:</h4>
    <div class="list-group text-left">
        <a href="http://infosys.nmro.local/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Consul</h6>
                <small>Service discovery</small>
            </div>

        </a>
        <a href="http://infosys.nmro.local/elk/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">ELK</h6>
                <small>Login by User/Pass → elastic/changeme, Observability</small>
            </div>
        </a>
        <a href="http://infosys.nmro.local/netmon/health" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Healthchecks</h6>
                <small>Observability</small>
            </div>

        </a>
        <a href="http://infosys.nmro.local/netmon/hangfire" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Hangfire Dashboard</h6>
                <small>job worker, asynchronous worker</small>
            </div>

        </a>
        <a href="http://infosys.nmro.local/redis/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Redis Commander</h6>
                <small>Caching, Redis Db</small>
            </div>

        </a>

        <a href="http://control-centre.nmro.local/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Control Centre</h6>
                <small>Login by User/Pass → admin/admin123, Angular</small>
            </div>
        </a>

            <a href="http://docs.nmro.local/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">OpenAPI Specification</h6>
                <small>Api Documentation, Swagger</small>
            </div>
        </a>
    </div>
</div>
