@import 'themes/theme';
@import 'abstracts/variables';
 @include nb-install-component() {
   .list-card {
     nb-card-header {
       border-bottom: none;
     }
     .user-item {
       transition: all 0.3s;
       &:hover {
        cursor: pointer;
         background-color: $color-tertiary-light-custom;
       }
     }
   }
 }
